.tabla {
    border-collapse: collapse;
    border: 2px black solid;
    width: 100vw;
    height: 100vh;
}
.celda1 {
    background-color: coral;
    border: 2px black solid;
}


.celda2 {
    background-color: aquamarine;
    border: 2px black solid;
}
